<div class="toast_container">
  <div class="toast" *ngFor="let message of (messages | async); let i = index"
    [ngClass]="{'toast-blue':   message.style=='info',
                'toast-yellow': message.style=='warning',
                'toast-red':    message.style=='error',
                'toast-green':  message.style=='success'}">

    <div class="toast_content">
      <p class="toast_title">{{message.style | titlecase }}</p>
      <p class="toast_message">{{message.content}}</p>
    </div>
  </div>
</div>
